.fondo {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/fondo-halloween.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.campos {
    width: 30%;
    height: 70%;
    background-color: rgb(209, 200, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo {
    display: flex;
    flex-direction: column;
}

.mensaje-error {
    color: #b30000;
}

.mensaje {
    color: black;
    text-align: center;
}