<div class="contenedor">

    <h1>Matatopos</h1>

    <p>Puntuación: {{numero}}</p>

    <div class="tablero">
        <div class="fila">
            <button (click)="matarTopo(0)" *ngIf="topos[0] == 1; else noTopo"></button>
            <button (click)="matarTopo(1)" *ngIf="topos[1] == 1; else noTopo"></button>
            <button (click)="matarTopo(2)" *ngIf="topos[2] == 1; else noTopo"></button>
        </div>

        <div class="fila">
            <button (click)="matarTopo(3)" *ngIf="topos[3] == 1; else noTopo"></button>
            <button (click)="matarTopo(4)" *ngIf="topos[4] == 1; else noTopo"></button>
            <button (click)="matarTopo(5)" *ngIf="topos[5] == 1; else noTopo"></button>
        </div>

        <div class="fila">
            <button (click)="matarTopo(6)" *ngIf="topos[6] == 1; else noTopo"></button>
            <button (click)="matarTopo(7)" *ngIf="topos[7] == 1; else noTopo"></button>
            <button (click)="matarTopo(8)" *ngIf="topos[8] == 1; else noTopo"></button>
        </div>
    </div>

    <ng-template #noTopo>
        <button class="noTopo" (click)="fallo()"></button>
    </ng-template>

</div>